doctype html
html(lang="en")
  head
    title VueConf 2017 | A Vue.js Conference | Wrocław, Poland
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet" type="text/css" href="styles/style.css")
    link(rel="icon" href="images/logo.png" type="image/x-icon")
  body
    .container
      include _partials/hero-banner

    .container
      .container__inner
        .section.post-section
          h2.post-section__header
            | Every great framework deserves a great conference.
          p.post-section__paragraph
            | We aim at bringing you the most inspiring tech-talks and in-depth case studies from the community's leading Vue.js developers.
          p.post-section__paragraph
            | It is also a perfect opportunity to meet other like-minded developers.
          p.post-section__paragraph
            | However, #[strong we could use some help]! 
            br 
            | Please fill in the short survey regarding your preferences on lectures, workshops and organizational matters.
          a.post-section__button.button(href="")
            | Take the survey

      include _partials/newsletter

      .container__inner
        include _partials/speakers
        include _partials/submit-talk

      include _partials/organizers
      .container__inner
        include _partials/footer

        <!-- Hotjar Tracking Code for https://conf.vuejs.org -->
    script.
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:371563,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89255364-1', 'auto');
      ga('send', 'pageview');
